<h1>test view</h1>
<center>
    <div id="content">
    
        <%= form_tag("/api/drop", method:"post") do %>
            <%= label_tag(:url, "add URL:") %>
            <%= text_field_tag(:url) %>
            <%= submit_tag("Submit") %>
        <% end %>

        <ul>
        <% @entries.each do |entry| %>
            <li>
            <% if not entry[:data][:html] %>
                <%= entry[:url] %>
            <% end %>
                <ul>
                    <% entry[:data].each do |k,v| %>
                        <% case k %>
                        <% when :html %>
                            <li> <a target="_blank" href="<%= entry[:url] %>"><%= v["title"] %></a>
                        <% when :youtube %>
                            <li> <a target="_blank" href="<%= v["video_dl"] %>"><%= v["title"] %></a> by <%= v["author"] %>
                        <% else %>
                            <li> <b> <%= k %> </b> <%= v %> </li>
                        <% end %>
                    <% end %>
                </ul>
            </li>
        <% end %>
        </ul>

    </div>
</center>
